
.row .subrow .rowimage:hover{

/* transform: scale(1.08,1.08); */
transform: scale(1.1,1.1);



}
/* .subrow:hover .row{ */
    /* opacity: 0.5; */
/* } */
.row .subrow{
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
/* opacity: 0.3; */
}
.row .subrow::-webkit-scrollbar {
    display: none;
  }
.row .rowimage{
    object-fit: contain;
}